/* styles.css */

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.hero {
    background: #1F2937;
    height: 530px;
    color: #F9FAF8;
}

.heroHeader{
    display: flex;    
    justify-content: space-between;
    list-style-type: none;
    align-items: flex-start;
    margin-left: 10%;    
    margin-right: 10%;
    font-size: 24px;
    color: #F9FAF8;
}

.heroHeader > ul {
    font-size: 18px;
    color: #E5E7EB;
}

li {
    display: inline;
    list-style: none;
    margin: 5px;
}

.heroMain {
    display: flex;
    margin-left: 10%;    
    margin-right: 10%;
    margin-top: 5%;
}

.leftText {
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    font-size: 48px;
    font-weight: 700;
    flex: 1;
    padding-right: 10%;
}

.smallGrey {
    font-size: 18px;
    font-weight: 100;
}

.imgPlaceholder {
    display: flex;
    background-color: rgb(122, 129, 134);
    flex: 1;
    justify-content: center;
    align-items: center;
    /* margin-left: 10%; */
}

.button1 {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 25%;
    height: 15%;
    border-radius: 8px;
    border: none;
    margin-top: 2%;
}

.images {
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    height: 490px;
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;    
}

#boxes {
    display: flex;
    background-color: orange;
}

.quote {
    height: 430px;
    background: #E5E7EB;
    display: flex;
}

.footer{
    background: #1F2937;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

