/* styles.css */

body {
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
}

.site {
    max-width: 400;
}

/* .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  } */

.hero {
    background: #1F2937;
    height: 430px;
    color: #F9FAF8;
}

.heroHeader{
    display: flex;    
    justify-content: space-between;
    list-style-type: none;
    align-items: flex-start;
    margin-left: 10%;    
    margin-right: 10%;
    font-size: 24px;
    color: #F9FAF8;
}

.heroHeader > ul {
    font-size: 18px;
    color: #E5E7EB;
}

li {
    display: inline;
    list-style: none;
    margin: 5px;
}

.heroMain {
    display: flex;
    margin-left: 10%;    
    margin-right: 10%;
    margin-top: 5%;
}

.leftText {
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    font-size: 48px;
    font-weight: 700;
    flex: 1;
    padding-right: 10%;
}

.smallGrey {
    font-size: 18px;
    font-weight: 100;
}

.imgPlaceholder {
    display: flex;
    background-color: rgb(122, 129, 134);
    flex: 1;
    justify-content: center;
    align-items: center;
    /* margin-left: 10%; */
}

.button1 {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 600;
    width: 25%;
    height: 15%;
    border-radius: 8px;
    border: none;
    margin-top: 2%;
}

.infosection {
    background: white;
}

.info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    color: #1F2937; 
}

.imagerow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #1F2937;
    margin-left: 20px;
    margin-right: 20px;
}

.flexitem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flexitem.image {
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
    width: 170px;
    height: 170px;
    border-radius: 10%;
    border: 4px #3882F6 solid;
}

.flexitem.subtitle {
    margin-top: 1%;
    margin-left: 20px;
    margin-right: 20px;
    width: 170px;
    height: 170px;
    text-align: center;
}

.grey {
    display: flex;
    background: #E5E7EB;
    flex-direction: column;
    padding: 100px;
}

.quote {
    justify-content: center;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    padding-right: 10%;
    padding-left: 10%;
    margin-left: auto;
    margin-right: auto;
}

.quoted {
    font-weight: bolder;
    font-size: 30px;
    text-align: right;
    padding-right: 10%;
}

.footer{
    background: #1F2937;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.action {
    display: flex;
    align-items: center;
    background-color: #F9FAF8;
    height: 300px;
}

.action-box {
    display: flex;
    background-color:#3882F6;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 40%;
    border-radius: 10px;
}

.action-button {
    align-items: right;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10%;
    width: 10%;
    height: 30px;
    border-radius: 8px;
    background-color: #3882F6;
    border-color:#F9FAF8;
    border-style:solid;
    color:#F9FAF8;
}

.action-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:#F9FAF8;
    padding-left: 10%;
}

.action-text-call {
    font-weight:bolder;
    font-size: 20px;
}

.tail {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color:#F9FAF8;
    height: 100px;
}

