/* styles.css */

body {
    margin: 0px;
}

.hero{
    background: #1F2937;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-family: Rockwell;
    font-size: 48px;
    font-style: bold;
    color: #F9FAF8;
}

.action {
    height: auto;
    background: white;
    display: flex;
}

.quote {
    height: 430px;
    background: #E5E7EB;
    display: flex;
}

.footer{
    background: #1F2937;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

#hero1 {
    height: 530px;
}

#action1 {
    height: 490px;
}

#action2 {
    height: 350px;
}

#hero2 {
    height: 445px;
}

#herologo {
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
}

#herolinks {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}